# idlebot configuration file

#-------------------------------------------------------------------------------
# configure game parameters
IdleRPG:
  irc_server: moo.slashnet.org
  irc_port: 6667
  irc_passwd: password

  irc_nickname: isotomic
  irc_fullname: Full Auto

  game_channel: '#G7'
  game_bot: bot

  player_name: isotomic
  player_passwd: TTTTTTTT
  player_class: Singularity

#-------------------------------------------------------------------------------
# setup logging system -- or remove this section to disable logging
# this uses the standard dict config for the Python logging framework
Logging:
  version: 1

  formatters:
    brief:
      format: '%(message)s'
    precise:
      format: '%(asctime)s %(levelname)-8s %(name)-15s %(message)s'
      datefmt: '%Y-%m-%d %H:%M:%S'

  root:
    level: DEBUG
    handlers: [console]

  handlers:
    console:
      class: logging.StreamHandler
      formatter: brief
      stream: ext://sys.stdout
    logfile:
      class : logging.FileHandler
      formatter: precise
      filename: idlebot.log
      mode: w

# vim: ft=yaml
