---
# idlebot configuration file

# to enable prometheus metrics, uncomment the following line
# metrics: 9067

# configure irc parameters
irc:
  server: moo.slashnet.org
  port: 6667
  passwd: password

  nickname: idlebot
  fullname: IdleRPG Bot


# configure game parameters
idlerpg:
  game_channel: '#G7'
  game_bot: bot


# configure player info
player:
  name: idlebot
  password: TTTTTTTT
  class: Python Bot


# setup logging system -- or remove this section to disable logging
# this uses the standard dict config for the Python logging framework
logging:
  version: 1

  formatters:
    brief:
      format: '%(message)s'
    precise:
      format: '%(asctime)s %(levelname)-8s %(name)-15s %(message)s'
      datefmt: '%Y-%m-%d %H:%M:%S'

  root:
    level: INFO
    handlers: [logfile]

  handlers:
    console:
      class: logging.StreamHandler
      formatter: brief
      stream: ext://sys.stdout
    logfile:
      class: logging.FileHandler
      formatter: precise
      filename: /var/log/idlebot.log
      mode: w

# vim: ft=yaml
